In [8]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.tree import export_graphviz
#from sklearn.externals.six import StringIO
from sklearn.linear_model import Perceptron
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import  precision_recall_curve, roc_auc_score, confusion_matrix, accuracy_score, recall_score, precision_score, f1_score,auc, roc_curve, plot_confusion_matrix

#from category_encoders import BinaryEncoder
from IPython.display import Image
#import pydotplus
import matplotlib.pyplot as plt
%matplotlib inline
# color = sns.color_palette()
# seed = 42

In [12]:
#load data and displaying the dataset
data = pd.read_csv("../Resources/cleaned_loan.csv")
pd.unique(data['loan_status'])

array([1, 0])

In [17]:
data.tail(10)

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,term,home_ownership,verification_status,purpose
46997,35000,6.08,1066.04,2,353000.00,1,12.09,0,1,16,0,231984,34.3,28,0,0,1,1,2
46998,20000,11.99,664.20,10,14000.00,1,37.39,0,0,21,1,10719,30.2,29,1,0,1,0,2
46999,7400,17.09,264.17,0,49900.00,1,27.20,0,1,13,0,5422,25.3,34,0,0,1,1,2
47000,10000,17.09,249.01,10,26000.00,0,16.45,0,1,6,0,13766,49.9,6,0,1,3,0,2
47001,20000,12.62,670.23,10,50000.00,0,33.94,0,2,12,0,7966,28.7,16,0,0,2,0,2
47002,27950,17.09,997.75,9,235000.00,1,25.50,0,1,20,0,118813,81.2,46,0,0,1,1,1
47003,30000,17.09,1070.93,6,88000.00,1,21.16,0,3,18,2,22979,32.9,29,1,0,3,1,2
47004,18000,14.08,615.90,0,44000.00,0,20.38,0,2,18,0,17906,23.7,21,0,0,1,1,1
47005,12000,12.62,270.71,10,89625.39,1,17.61,0,0,10,0,18601,90.3,37,0,1,1,0,2
47006,14000,13.59,475.71,2,80000.00,1,1.35,0,1,11,0,1461,4.1,21,0,0,2,1,0